venv/
.venv/

__pycache__/

.idea/
.vscode/

.env

*.pyc

test_data/
.test_data/

offers_archives/
.offers_archives/
offers_archives_old/
.offers_archives_old/
landings_archives/
.landings_archives/
landing_archives_old/
.landing_archives_old/

src/test_forms/
.src/test_forms/
